<h1>Login</h1>

<h4><%= flash[:notice] %></h4>

<!-- form will POST to '/login' -->
<%= form_tag(login_path) do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag 'Login' %> <br>
<% end %>  <br>

<h3>New User, <%= link_to "please register", new_user_path %> </h3>