<div class="home-video-wrapper">
  <%= video_tag "PexelsVideos1550080.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  
      <div class="container">
        <div class="simple-box">
          <h4><%= flash[:notice] %></h4>
          <%= form_tag(login_path) do %>

            <%= label_tag :name %>
            <%= text_field_tag :name %>
          <br>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
        <br>
            <%= submit_tag 'Login', class: "buttonWW" %> <br>
         
          <% end %> 
          <h3>New User?</h3><%= link_to "Please Register", new_user_path  %>

        </div>
      </div>
</div>
