
<div class="goal-video-wrapper">
  <%= video_tag random_glow_video, autoplay: :autoplay, loop: :loop, mute: :mute, class: "goal_video" %>

<!-- <div class="backg"> -->
  <div class="center-div-edit">
        <h1>Welcome to Edit a User page!</h1>

        <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
        <%= e %>
        <% end %>
        <% end %>

        <%= form_for @user do |f| %>
        <div>
          <%= f.label :name, "Change Name" %>
          <%= f.text_field :name %>
        </div>
        
        <div>
          <%= f.label :email, "Change Email" %>
          <%= f.text_field :email %>
        </div>
        
        <div>
          <%= f.label :password, "Change Password" %>
          <%= f.text_field :password %>
        </div>
      <div>
        <%= f.label :location, "Change Location" %>
        <%= f.text_field :location %>
      </div>
       
        <%= f.submit class: "buttonWW" %>
        <% end %>

          <%=  current_user ? button_to('Go Back', current_user, method: :get, class: "buttonWW") : '' %>
  </div>
<!-- </div> -->
