<div class="home-video-wrapper">
  <%= video_tag "coolbeach.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>

<h1 class="welcome-class" Welcome, Sign Up New User!>

<% if flash[:errors] %>
<% flash[:errors].each do |e| %>
<%= e %>
<% end %>
<% end %>

<%= form_for @user do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name %>
<%= f.label :email, "Email" %>
<%= f.text_field :email %>
<%= f.label :password, "Password" %>
<%= f.password_field :password %>
<%= f.label :location, "Location" %>
<%= f.text_field :location %>
<%= f.submit %>
<% end %>

 <%= button_to 'Home', login_path %>

 </div>