<div class="home-video-wrapper">
  <%= video_tag "coolbeach.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>

  <div class="login">
    <div class="login-div">
        <h2>Sign Up Now!</h2>

        <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
        <%= e %>
        <% end %>
        <% end %>
        <%= form_for @user do |f| %>
        <div>
          <%= f.label :name, "Name" %>
          <%= f.text_field :name %>
        </div>
        
        <div>
          <%= f.label :email, "Email" %>
          <%= f.text_field :email %>
        </div>
        
        <div>
          <%= f.label :password, "Password" %>
          <%= f.password_field :password %>
        </div>
      <div>
        <%= f.label :location, "Location" %>
        <%= f.text_field :location %>
      </div>
       
        <%= f.submit class: "buttonWW"  %>
        <% end %>
          <%= button_to 'Go Back', login_path, class: "buttonWW" %>
          <%=  current_user ? button_to('Go Home', current_user, method: :get) : '' %>
      </div>
  </div>
