
<h1>Welcome, Sign Up New User!</h1>

<% if flash[:errors] %>
<% flash[:errors].each do |e| %>
<%= e %>
<% end %>
<% end %>

<%= form_for @user do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name %>
<%= f.label :email, "Email" %>
<%= f.text_field :email %>
<%= f.label :password, "Password" %>
<%= f.text_field :password %>
<%= f.label :location, "Location" %>
<%= f.text_field :location %>
<%= f.submit %>
<% end %>