<div class="home-video-wrapper">
  <%= video_tag "coolbeach.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>


  <div class="center-div-edit">
  
        <h1>Ready to Achieve Greatness?<br>Sign Up Now!</h1>

        <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
        <%= e %>
        <% end %>
        <% end %>
        <%= form_for @user do |f| %>
        <div>
          <%= f.label :name, "Name" %>
          <%= f.text_field :name %>
        </div>
        
        <div>
          <%= f.label :email, "Email" %>
          <%= f.text_field :email %>
        </div>
        
        <div>
          <%= f.label :password, "Password" %>
          <%= f.password_field :password %>
        </div>
      <div>
        <%= f.label :location, "Location" %>
        <%= f.text_field :location %>
      </div>
       
        <%= f.submit %>
        <% end %>
          <%= button_to 'Go Back', login_path %>
          <%=  current_user ? button_to('Go Home', current_user, method: :get) : '' %>
  </div>
<!-- </div> -->
