
<h1>Show page User</h1>

<% if flash[:success] %>
    <h2> <%= flash[:success] %> </h2>
<% end %>

<h1> Name : <%= @user.name %> </h1>
<h1> Password : <%= @user.password %> </h1>
<h1> Email : <%= @user.email %> </h1><br>
<h1> Location : <%= @user.location %> </h1><br>


<h1>My Owned Goals</h1>
<p><% @goals.each do |g| %>
<%= link_to g.title, g %><br>
<% end %>

<h3>Goals I'm Following</h3>
<p><% @followed_goals.each do |g| %>
<%= link_to g.title, g %><br>
<% end %>

<% if current_user == @user %>
  <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: { confirm: 'are u sure lol' } %>
<% end %>

<%= link_to 'Go main page', new_user_path %> <br>

