
<h1> <%=@user.name%></h1>

<% if flash[:success] %>
    <h2> <%= flash[:success] %> </h2>
<% end %>

<p> Name : <%= @user.name %> 
<p> Password : <%= @user.password %>
<p> Email : <%= @user.email %> <br>
<p> Location : <%= @user.location %> <br>


<h1>My Owned Goals</h1>
<p><% @goals.each do |g| %>
<%= link_to g.title, g %><br>
<% end %>

<h3>Goals I'm Following</h3>
<p><% @followed_goals.each do |g| %>
<%= link_to g.title, g %><br>
<% end %>

<% if current_user == @user %>
  <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: { confirm: 'are u sure lol' } %>
<% end %>

<%= link_to 'Go main page', new_user_path %> <br>

