<h1><%= @goal.title %> </h1>
<%= link_to  @owner.name, @owner %>

<p> Description:<%= @goal.description %>
<p> Start Date:<%= @goal.start_date %> 
<p> End Date: <%= @goal.end_date %><br/>
<br>
<h3>Posts Section:</h3>
<p> <% @posts.each do |p| %>
<p> Name: <%= link_to  p.user.name, p.user %> : <%= p.content %>
    
    <% end %>
<p>

<%= form_for @follow_goal do |f| %>
<%= f.hidden_field :goal_id, value: @goal.id %>
<%= f.hidden_field :follower_id, value: current_user.id %>
<%= f.submit "Follow this goal"%>
<% end %>




<%= link_to  "Home", goals_path %>
