<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#GOALS</title>
   
   <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <%# Fonts %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
            integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" 
            crossorigin="anonymous" 
      />
      <%# Skeleton Grid %>
      <link rel="stylesheet" href="../../assets/stylesheets/normalize.css">
       <link rel="stylesheet" href="../../assets/stylesheets/normalize.css">
      <%# jQuery %>
       <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
       <%# custom style %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="nav-header-container">
      <ul class="nav-header">
        <li class="nav-item">
          <%=  current_user ? button_to('Home', goals_path, method: :get, class: "myButton") : '' %>
        </li>
        <li class="nav-item">
          <%=  current_user ? button_to('Profile', current_user, method: :get, class: "myButton") : '' %>
        </li>
        <li class="nav-item">
          <%=  current_user ? button_to('Logout', logout_path, method: :delete, class: "myButton") : '' %>
        </li>
      </ul>
    </nav>
    <div class="">
      <div class="">
      <%= yield %>
    <div class="footer">
      <p>Ricky and Sekou &copy;</p>
    </div>
    </div>
    </div>
  </body>
  
</html>
