<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GOALSAPP</title>
    <%# <%= csrf_meta_tags %>
    <%# <%= csp_meta_tag %>
   
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav nav-pills mb-3">
      <div class="nav-item">
        <%=  current_user ? button_to('logout', logout_path, method: :delete, class: "nav-item nav-link active") : '' %>
      </div>

      <div class="nav-item">
        <%=  current_user ? button_to('home', goals_path, method: :get, class: "nav-item nav-link") : '' %>
      </div>

      <div class="nav-item">
        <%=  current_user ? button_to('Profile', current_user, method: :get, class: "nav-item nav-link active") : '' %>
      </div>

    </nav>
    <%= yield %>
  </body>
</html>
